{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#    <a class="navbar-brand" href="#">TomatoKoe</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="" id="">#}
{#        <ul class="" style="margin-left: 50px">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'home' %}">Link <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'articles' %}">Link <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'categories' %}">Link <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
{#<div class="fieldBox">#}
{#    <div class="wrapper row1">#}
{#    <section class="hoc">#}
{#        <nav id="mainav" style="background-color: #420D09">#}
{#            <ul class="nav">#}
{#                <li class="nav-item"><a href="index.html">Home</a></li>#}
{#                <li><a class="drop" href="#">Pages</a>#}
{#                    <ul>#}
{#                        <li><a href="pages/gallery.html">Gallery</a></li>#}
{#                        <li><a href="pages/full-width.html">Full Width</a></li>#}
{#                        <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>#}
{#                        <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>#}
{#                        <li><a href="pages/basic-grid.html">Basic Grid</a></li>#}
{#                        <li><a href="pages/font-icons.html">Font Icons</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a class="drop" href="#">Dropdown</a>#}
{#                    <ul>#}
{#                        <li><a href="#">Level 2</a></li>#}
{#                        <li><a class="drop" href="#">Level 2 + Drop</a>#}
{#                            <ul>#}
{#                                <li><a href="#">Level 3</a></li>#}
{#                                <li><a href="#">Level 3</a></li>#}
{#                                <li><a href="#">Level 3</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="#">Level 2</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="#">Link Text</a></li>#}
{#                <li><a href="#">Link Text</a></li>#}
{#                <li><a href="#">Link Text</a></li>#}
{#                <li><a href="#">Long Link Text</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </section>#}
{#</div>#}
{#</div>#}
{#    <header role="banner" class="position-absolute">#}
{#      <!-- Top Navigation -->#}
{#      <nav class="background-transparent background-transparent-hightlight full-width sticky">#}
{#        <div class="s-12 l-2">#}
{#          <a href="index.html" class="logo">#}
{#            <!-- Logo White Version -->#}
{#            <img class="logo-white" src="img/logo.png" alt="">#}
{#            <!-- Logo Dark Version -->#}
{#            <img class="logo-dark" src="img/logo-dark.png" alt="">#}
{#          </a>#}
{#        </div>#}
{#        <div class="top-nav s-12 l-10">#}
{#          <p class="nav-text"></p>#}
{#          <ul class="right chevron">#}
{#            <li><a href="index.html">Home</a></li>#}
{#            <li><a href="products.html">Products</a></li>#}
{#            <li><a>Services</a>#}
{#              <ul>#}
{#                <li><a>Service 1</a>#}
{#                  <ul>#}
{#                    <li><a>Service 1 A</a></li>#}
{#                    <li><a>Service 1 B</a></li>#}
{#                  </ul>#}
{#                </li>#}
{#                <li><a>Service 2</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li><a href="about.html">About</a></li>#}
{#            <li><a href="gallery.html">Gallery</a></li>#}
{#            <li><a href="contact.html">Contact</a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </nav>#}
{#    </header>#}
{#<nav class="navbar navbar-expand-lg main-navbar">#}
{#        <a href="index.html" class="navbar-brand sidebar-gone-hide">Stisla</a>#}
{#        <div class="navbar-nav">#}
{#          <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>#}
{#        </div>#}
{#        <div class="nav-collapse">#}
{#          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">#}
{#            <i class="fas fa-ellipsis-v"></i>#}
{#          </a>#}
{#          <ul class="navbar-nav">#}
{#            <li class="nav-item active"><a href="#" class="nav-link">Application</a></li>#}
{#            <li class="nav-item"><a href="#" class="nav-link">Report Something</a></li>#}
{#            <li class="nav-item"><a href="#" class="nav-link">Server Status</a></li>#}
{#          </ul>#}
{#        </div>#}
{#        <ul class="navbar-nav navbar-right">#}
{#          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>#}
{#            <div class="dropdown-menu dropdown-list dropdown-menu-right">#}
{#              <div class="dropdown-header">Messages#}
{#                <div class="float-right">#}
{#                  <a href="#">Mark All As Read</a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="dropdown-list-content dropdown-list-message">#}
{#                <a href="#" class="dropdown-item dropdown-item-unread">#}
{#                  <div class="dropdown-item-avatar">#}
{#                    <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle">#}
{#                    <div class="is-online"></div>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Kusnaedi</b>#}
{#                    <p>Hello, Bro!</p>#}
{#                    <div class="time">10 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item dropdown-item-unread">#}
{#                  <div class="dropdown-item-avatar">#}
{#                    <img alt="image" src="../assets/img/avatar/avatar-2.png" class="rounded-circle">#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Dedik Sugiharto</b>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>#}
{#                    <div class="time">12 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item dropdown-item-unread">#}
{#                  <div class="dropdown-item-avatar">#}
{#                    <img alt="image" src="../assets/img/avatar/avatar-3.png" class="rounded-circle">#}
{#                    <div class="is-online"></div>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Agung Ardiansyah</b>#}
{#                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#                    <div class="time">12 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-avatar">#}
{#                    <img alt="image" src="../assets/img/avatar/avatar-4.png" class="rounded-circle">#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Ardian Rahardiansyah</b>#}
{#                    <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>#}
{#                    <div class="time">16 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-avatar">#}
{#                    <img alt="image" src="../assets/img/avatar/avatar-5.png" class="rounded-circle">#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Alfa Zulkarnain</b>#}
{#                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>#}
{#                    <div class="time">Yesterday</div>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#              <div class="dropdown-footer text-center">#}
{#                <a href="#">View All <i class="fas fa-chevron-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </li>#}
{#          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>#}
{#            <div class="dropdown-menu dropdown-list dropdown-menu-right">#}
{#              <div class="dropdown-header">Notifications#}
{#                <div class="float-right">#}
{#                  <a href="#">Mark All As Read</a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="dropdown-list-content dropdown-list-icons">#}
{#                <a href="#" class="dropdown-item dropdown-item-unread">#}
{#                  <div class="dropdown-item-icon bg-primary text-white">#}
{#                    <i class="fas fa-code"></i>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    Template update is available now!#}
{#                    <div class="time text-primary">2 Min Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-icon bg-info text-white">#}
{#                    <i class="far fa-user"></i>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends#}
{#                    <div class="time">10 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-icon bg-success text-white">#}
{#                    <i class="fas fa-check"></i>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>#}
{#                    <div class="time">12 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-icon bg-danger text-white">#}
{#                    <i class="fas fa-exclamation-triangle"></i>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    Low disk space. Let's clean it!#}
{#                    <div class="time">17 Hours Ago</div>#}
{#                  </div>#}
{#                </a>#}
{#                <a href="#" class="dropdown-item">#}
{#                  <div class="dropdown-item-icon bg-info text-white">#}
{#                    <i class="fas fa-bell"></i>#}
{#                  </div>#}
{#                  <div class="dropdown-item-desc">#}
{#                    Welcome to Stisla template!#}
{#                    <div class="time">Yesterday</div>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#              <div class="dropdown-footer text-center">#}
{#                <a href="#">View All <i class="fas fa-chevron-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </li>#}
{#          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">#}
{#            <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">#}
{#            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div></a>#}
{#            <div class="dropdown-menu dropdown-menu-right">#}
{#              <div class="dropdown-title">Logged in 5 min ago</div>#}
{#              <a href="features-profile.html" class="dropdown-item has-icon">#}
{#                <i class="far fa-user"></i> Profile#}
{#              </a>#}
{#              <a href="features-activities.html" class="dropdown-item has-icon">#}
{#                <i class="fas fa-bolt"></i> Activities#}
{#              </a>#}
{#              <a href="features-settings.html" class="dropdown-item has-icon">#}
{#                <i class="fas fa-cog"></i> Settings#}
{#              </a>#}
{#              <div class="dropdown-divider"></div>#}
{#              <a href="#" class="dropdown-item has-icon text-danger">#}
{#                <i class="fas fa-sign-out-alt"></i> Logout#}
{#              </a>#}
{#            </div>#}
{#          </li>#}
{#        </ul>#}
{#      </nav>#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="margin-right: 30px"><b>TomatoKoe</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'articles' %}">Article</a>
      <a class="nav-item nav-link" href="{% url 'categories' %}">Category</a>
    </div>
  </div>
</nav>
