{% extends 'layouts/master.html' %}

{% block content %}

    <div class="container" style="margin-top: 70px">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>
            </div>

            <div class="modal-body">
                Apakah anda yakin untuk menghapus "<b>{{ data }}</b>"?
            </div>

            <div class="modal-footer">
                <form action="{% url 'delete-article' delete.id %}" method="POST">
                    {% csrf_token %}
                    <a href="{% url 'articles' %}" type="button" class="btn btn-secondary">Batal</a>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}